<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All users</title>
</head>
<body>
    @if(auth.user)
        <p>You are login as {{auth.user.email}}</p>
            <form method="POST" action="/logout"> 
                <button type="submit" >Logout</button>
            </form>
    @endif

    <h1>All users</h1>
        @each(user in users)
            <p>{{user.email}}</p>
        @end
    {{inspect(flashMessages)}}
</body>
</html>