@layout('layouts/base')
@section('content')
<main>

  <p class="status text-red-700"></p>
  <button class="btn-geo inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"> Get Localisation</button>
</main>
@endsection
  