/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#map {position: absolute; 
    /* top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;  */
    width: 500px;
    height: 400px;}